table{
    width: 100%;
}

#entries{
    overflow: auto;
}

#export_dates input{
    visibility: hidden;
    position: absolute;
    right: 0px;
    top: 0px;

}

td{
    text-align: center;
    font-size: 20px;
    padding: 5px;
}


.del_button{
    position: relative;
    float: right;
}

#new_entry_select_options{
    display: none;
}

input[type="checkbox"]{
    padding: 15px;
}