table{
    width: 100%;
}

table .input-group{
    color: black;
}

table .input-group input{
    color: black;
}

table button {
    color: black;
}

table button i{
    color: black;
}

#entries input{
    color: black;
}

#entries{
    overflow: auto;
}

#export_dates input{
    visibility: hidden;
    position: absolute;
    right: 0px;
    top: 0px;

}

.form-control{
    border-radius: 0;
}

#total_display{
    position: absolute;
    bottom: 3px;
    right: 3px;
}

td{
    text-align: center;
    font-size: 20px;
    padding: 2px;
}


#control_panel td{
    padding: 0px
}

/* .del_button, .edit_button{
    margin-right: 8px;
    font-size: 12px;
    position: absolute;
    left: 1px;
    display: none;
}

.del_button{
    top: 0px;
} */

.edit_button{
    bottom: 0px;
}

.entry-label{
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

.entry-input-group{
    margin-top: 2px;
}

.entry-input-group label:hover .del_button{
    display: inline;
    transition: all .3s ease-in-out;
}

.entry-input-group label:hover .edit_button{
    display: inline;
    z-index: 99999999;
    cursor: pointer;
}

#date_input{
    min-width: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    color: black;
}

#date_input:hover{
    cursor: pointer;
}

#new_entry_select_options{
    display: none;
}

#new_entry_select_add_option{
    display: none;
}

#new_entry_options_button{
    border-left: 0px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

.ui-front{
    z-index: 10000;
}

.ui-datepicker{
    z-index: 1;
}

.input-group{
    z-index: 0;
}