html{
    background-color: rgba(0,0,0,0.5);
}

table{
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}


table .input-group{
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

table .input-group input{
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

table button {
    color: white;
}

table button i{
    color: white;
}

#entries input{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

#entries{
    overflow: auto;
    background-color: rgba(0,0,0,0);
}

body{
    background-color: rgba(0,0,0,0);
}

#container{
    background-color: rgba(0,0,0,0);
}

#export_dates input{
    visibility: hidden;
    position: absolute;
    right: 0px;
    top: 0px;

}

.form-control{
    border-radius: 0;
}

#total_display{
    position: absolute;
    bottom: 3px;
    right: 3px;
}

td{
    text-align: center;
    font-size: 20px;
    padding: 2px;
}


#control_panel td{
    padding: 0px
}

.del_button, .edit_button{
    margin-right: 8px;
    font-size: 12px;
    position: absolute;
    left: 1px;
    display: none;
}

.del_button{
    top: 0px;
}

.edit_button{
    bottom: 0px;
}

.entry-label{
    padding-left: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.entry-input-group{
    margin-top: 2px;
}

.entry-input-group:hover .del_button{
    display: inline;
    transition: all .3s ease-in-out;
}

.entry-input-group:hover .edit_button{
    display: inline;
}

#date_input{
    min-width: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

#date_input:hover{
    cursor: pointer;
}

#new_entry_select_options{
    display: none;
}

input[type="checkbox"]{
    padding: 15px;
}

#new_entry_options_button{
    border-left: 0px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

.ui-front{
    z-index: 10000;
}